

    
<h1>Hello, {{ title }}</h1>
<p>Congratulations! Your app is running. 🎉</p>
<div>
  <h3>for example 1</h3>
  @for (item of items; track item.title) {
    <a [href]="item.link" target="_blank" rel="noopener">
      <p>{{ item.title }}</p>
    </a>
  }@empty{
    <h1>No items found...</h1>
  }

  <h3>Country array</h3>
  @for(country of countries; track $index){
    <li>{{country}}</li>
  }@empty{
    <h1>No items found...</h1>
  }
</div>

<div>
  <h3>for example 2</h3>
    <a *ngFor="let item of items" [href]="item.link" target="_blank" rel="noopener">
      <p>{{ item.title }}</p>
    </a>
</div>
     
<div>
  <h3>if examples</h3>
  @if(isFullTime){
    <h2>Yes he is full time. </h2>
  }@else{
    <h2>No he is not full time. </h2>
  }

  <h2 *ngIf="!isFullTime">Yes he is full time. </h2>

</div>
     
<div>
  <h3>switch examples</h3>
  @switch(dayNo){
    @case(1){
      <h4>Sunday</h4>
    }
    @case(2){
      <h4>Monday</h4>
    }
    @case(3){
      <h4>Tuesday</h4>
    }
    @case(4){
      <h4>Wednesday</h4>
    }
    @default{
      <h4>Day must be between 1 and 4.</h4>
    }
  }

  <div [ngSwitch]="dayNo">
    <h4 *ngSwitchCase="1">Sunday</h4>
    <h4 *ngSwitchCase="2">Monday</h4>
    <h4 *ngSwitchCase="3">Tuesday</h4>
    <h4 *ngSwitchCase="4">Wednesday</h4>
    <h4 *ngSwitchCaseDefault>Day must be between 1 and 4</h4>
  </div>
</div>

<app-signup></app-signup>
<h1>Post component</h1>
<app-posts></app-posts>